* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background: rgb(245, 245, 220);
  background: linear-gradient(
    0deg,
    rgba(245, 245, 220, 1) 86%,
    rgba(0, 140, 119, 1) 86%
  );
  display: flex;
}

.content-container {
  width: 90vw;
  height: 90vh;
  background-color: white;
  margin: auto;
  display: flex;
}

.left-part {
  width: 35%;
  height: 100%;
  background-color: red;
}

.right-part {
  width: 65%;
  height: 100%;
  background-color: green;
}

.my-profile {
  width: 100%;
  height: 10%;
  background-color: rgb(124, 215, 124);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notice {
  width: 100%;
  height: 10%;
  background-color: rgb(135, 188, 135);
}

.search-profile {
  width: 100%;
  height: 7%;
  background-color: rgb(34, 56, 34);
}

.chats {
  width: 100%;
  height: 73%;
  background-color: rgb(14, 72, 14);
}

.description {
  width: 100%;
  height: 10%;
  background-color: rgb(243, 255, 10);
}

.text-area {
  width: 100%;
  height: 80%;
  background-color: rgb(194, 200, 63);
}

.new-message {
  width: 100%;
  height: 10%;
  background-color: rgb(111, 114, 48);
}

.my-profile-left-part {
  display: flex;
  align-items: center;
}

.my-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.my-profile-right-part {
  color: gray;
}

.my-profile-right-part i {
  margin: 5px;
}
